@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Baloo2';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Baloo2-VariableFont_wght.ttf') format('truetype');
}
